<loader class="e_loadingCover" ng-show="loadings.todo" ng-animate>










</loader>
<div class="row e_toDoPanel">



  <div class="col-md-5 e_panel text-center row-xs-flex-center" ng-class="toDoCarousel.active==0?'_active':''" ng-click="toDoCarousel.active=0">
    <h4>Aukcje</h4><span class="e_badge" ng-if="toDo.list.auctions.count!=0">{{toDo.list.auctions.count}}</span>

  </div>
  <div class="col-md-5 e_panel text-center row-xs-flex-center" ng-class="toDoCarousel.active==1?'_active':''" ng-click="toDoCarousel.active=1">
    <h4>Opisy</h4><span class="e_badge" ng-if="toDo.list.descriptionsExt.count!=0">{{toDo.list.descriptionsExt.count}}</span>
  </div>
  <div class="col-md-2 e_panel text-center row-xs-flex-center" ng-click="refreshToDo()">
    <h4 class="_refresh"><i class="fa fa-refresh" aria-hidden="true"></i></h4>
  </div>

</div>
<div class="e_toDoSearch row-xs-flex-center">

  <div class="col-md-12"> <input type="text" ng-model="filters.search"> </div>
  <div class="col-md-12">
    <div class="btn-group" uib-dropdown keyboard-nav>
      <button id="simple-btn-keyboard-nav" type="button" class="" uib-dropdown-toggle>
            {{filters.sort.label?filters.sort.label:'sortuj'}} <span class="caret"></span>
        </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">

        <li role="menuitem"><a href="" ng-click="changeOrder('Data: Najnowsze','time',false)">Data: Najnowsze</a></li>
        <li role="menuitem"><a href="" ng-click="changeOrder('Data: Najstarsze','time',true)">Data: Najstarsze</a></li>


        <li role="menuitem"><a href="" ng-click="changeOrder('Priorytet: Najwyzszy','priority',false)">Priorytet: Najwyzszy</a></li>
        <li role="menuitem"><a href="" ng-click="changeOrder('Priorytet: Najnizszy','priority',true)">Priorytet: Najnizszy</a></li>
      </ul>
    </div>
  </div>

</div>
<div class="e_listInner ">

  <div uib-carousel active="toDoCarousel.active" interval="" no-wrap="noWrapSlides" class="e_todoCarousel">
    <div uib-slide index="$index" ng-repeat="list in toDo.list track by $index" class="_slide ">
      <div class="" ng-if="list.count!=0">

        <div class="col-md-12  e_task" ng-class="statusClass(task.status)" ng-repeat="task in list.list | filter: filters.search | orderBy:filters.sort.name:filters.sort.reverse track by $index "
          ng-init="isTaskCollapsed[$parent.$index][$index]=true">
          <div class="row ">
            <div class="col-md-12 e_taskHeader ">


              <div class="row row-xs-flex-center">
                <div class="col-md-2 e_icons">
                  <i class="e_taskTypeIcon fa {{taskTypeIcon(task.taskType)}}" title="{{task.taskType}}"></i>
                  <i class="e_taskPriorityIcon fa {{taskPriorityIcon(task.priority)}}"></i>
                </div>
                <div class="col-md-2 e_deadline" ng-if="$parent.$index==0">
                  <p>{{task.startTime}}</p>
                </div>
                <div class="col-md-3 e_pm">
                  <p title="{{task.pm}}">{{task.pm}}</p>
                </div>
                <div class="col-md-3 e_name">
                  <p ng-bind-html="serializeName(task.item)"></p>
                </div>
                <div class="col-md-2 e_category">
                  <p title="{{task.category}}">{{task.category}}</p>
                </div>
                <div class="col-md-1 e_carret"><i class="fa fa-caret-down" aria-hidden="true" ng-click="setTaskCollapsed($parent.$index,$index)"></i></div>
              </div>



            </div>

            <div class="col-md-12 collapse e_taskExt" uib-collapse="isTaskCollapsed[$parent.$index][$index]">

              <div class="row">
                <div class="col-md-12">
                  <div class="row row-xs-flex-center e_taskInfoContainer">
                    <div class="col-md-4 e_taskInfo">
                      <h7>producent</h7>
                      <p>{{task.producer}}</p>
                    </div>
                    <div class="col-md-8 e_taskInfo">
                      <h7>nazwa</h7>

                      <p ng-bind-html='serializeName(task.item)'></p>
                    </div>
                  </div>
                  <div class="row row-xs-flex-center e_taskInfoContainer">

                    <div class="col-md-12 e_taskInfo" ng-if="$parent.$index==0">
                      <h7>konto</h7>
                      <p class="_important">{{task.account}}</p>
                    </div>
                    <div class="col-md-12 e_taskInfo">
                      <h7>liczba aukcji/sku</h7>
                      <p>{{task.numberOfActions}}</p>
                    </div>
                    <div class="col-md-12 e_taskInfo" ng-if="$parent.$index==0">
                      <h7>typ aukcji</h7>
                      <p class="_important">{{task.auctionType}}</p>
                    </div>

                    <div class="col-md-12 e_taskInfo" ng-if="$parent.$index==0">
                      <h7>liczba sztuk</h7>
                      <p class="_important">{{task.numberOfPieces}}</p>
                    </div>
                  </div>
                  <div class="row row-xs-flex-center e_taskInfoContainer" ng-if="$parent.$index==0">

                    <div class="col-md-12 e_taskInfo">
                      <h7>wysyłka</h7>
                      <p class="_important">{{task.deliveryType}}</p>
                    </div>
                    <div class="col-md-12 e_taskInfo">
                      <h7>promocja</h7>
                      <p class="_important">{{task.promotionType}}</p>
                    </div>
                    <div class="col-md-12 e_taskInfo">
                      <h7>czas wystawienia</h7>
                      <p class="_important">{{task.startTime}}</p>
                    </div>
                  </div>
                  <div class="row row-xs-flex-center e_taskInfoContainer" ng-if="$parent.$index==0">
                    <div class="col-md-12 e_taskInfo">
                      <h7>cena</h7>
                      <p class="_important">{{task.price}}</p>
                    </div>
                    <div class="col-md-12 e_taskInfo">
                      <h7>w zestawie</h7>
                      <p class="_important" ng-bind-html="serializeName(task.set)"></p>
                    </div>
                  </div>

                  <div class="row row-xs-flex-center e_taskInfoContainer">
                    <div class="col-md-12 e_taskInfo">
                      <h7>cechy glowne</h7>
                      <p>{{task.keyPoints}}</p>
                    </div>
                    <div class="col-md-12 e_taskInfo">
                      <h7>uwagi</h7>
                      <p>{{task.comments}}</p>
                    </div>
                    <div ng-if="task.descriptionsCount" class="col-md-12 e_taskInfo">
                      <h7>ilosc opisow roz</h7>
                      <p>{{task.descriptionsCount}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 row-xs-flex-center">

                  <button ng-click="setActiveTask(task)" class="btn_setActiveTask">realizuje</button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="row _substitute" ng-if="list.count==0">
        <div class="col-md-12 text-center row-xs-flex-center _mvp">
          <p>Nie masz nic do roboty</p>
        </div>
      </div>
    </div>
  </div>
</div>